/* general */

:root {
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --purple-600: #9333ea;
  --gap-050: 0.2rem;
  --gap-100: 0.4rem;
  --gap-150: 0.6rem;
  --gap-200: 0.8rem;
  --gap-250: 1.0rem;
  --gap-300: 1.2rem;
  --gap-350: 1.4rem;
  --gap-400: 1.6rem;
  --gap-500: 2.0rem;
  --gap-550: 2.2rem;
  --gap-600: 2.4rem;
  --gap-700: 2.8rem;
  --gap-800: 3.2rem;
  --font-stack-serif: "Playfair Display", "Times", serif;
  --font-stack-sans-serif: "Roboto", "Helvetica", "Arial", sans-serif;
  --shadow-1: 0 0 5px rgba(0,0,0,0.3);
  --shadow-2: 0 0 12px rgba(0,0,0,0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--transition-fast);
}

html, body {
  min-height: 100vh;
}

.content,
footer .contact {
  max-width: 1260px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-350);
  padding: var(--gap-300) var(--gap-300) var(--gap-700);
}

h1, h2, h3 {
  font-weight: 400;
  font-family: var(--font-stack-serif);
  align-self: center;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.35rem;
}

p {
  font-family: var(--font-stack-sans-serif);
  color: var(--neutral-600);
}

img {
  display: block;
  width: 100%;
}

/* header */

header {
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  /* top: -50px; */
  top: calc(-10px - 12vw);
  right: 0;
  left: 0;
  /* bottom: 550px; */
  bottom: calc(957px - 68vw);
  background-image: linear-gradient(45deg, #6303B1, #ff0099);
  transform: skewY(-14deg);
}

header .content {
  position: relative;
}

header img {
  margin-bottom: var(--gap-150);
}

.about {
  display: flex;
  flex-direction: column;
  gap: var(--gap-350);
}

header h1 {
  /* font-size: 4.2rem; */
  font-size: calc(2.8rem + 6vw);
  line-height: 1.15;
  position: absolute;
  /* top: 342px; */
  top: calc(-145px + 135vw);
  left: 2.2rem;
  color: white;
  filter: drop-shadow(var(--shadow-1));
}

header p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
  margin-top: -0.2rem;
}

header .icons,
footer .icons {
  align-self: center;
  display: flex;
  gap: var(--gap-400);
}

header svg {
  width: 2.4rem;
}

/* main */

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.4rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: var(--gap-500);
}

.card {
  box-shadow: var(--shadow-2);
}

.card > .screenshot {
  background-color: var(--purple-600);
  color: white;
  height: 17.6rem;
  font-family: var(--font-stack-serif);
  font-size: 2.8rem;
  text-align: center;
  display: grid;
  place-content: center;
}

.description {
  padding: var(--gap-350);
  display: grid;
  gap: var(--gap-200);
}

.description > div {
  display: flex;
  margin-top: -0.2rem;
}

.description .icons {
  margin-left: auto;
  display: flex;
  gap: var(--gap-150);
  position: relative;
  top: 3px;
}

.card svg {
  width: 1.4rem;
}

/* footer */

footer {
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 550px;
  bottom: calc(10px + 147vw);
  background-image: linear-gradient(45deg, #6303B1, #ff0099);
  z-index: -1;
}

footer .content {
  padding: 0;
  display: grid;
  align-items: center;
}

footer * {
  color: white;
}

footer h2 + p {
  font-size: 1.5rem;
}

address {
  font-family: var(--font-stack-sans-serif);
  font-style: normal;
}

.phone-email {
  display: grid;
  grid-template-columns: 1.6rem auto;
  grid-template-rows: auto auto;
  align-items: center;
  gap: var(--gap-050) var(--gap-150);
}

footer svg {
  fill: white;
}

footer .icons {
  margin-top: var(--gap-150);
}

footer .icons svg {
  width: 2.4rem;
}

/* media query for tablets */
@media screen and (min-width: 640px) {
  /* general */
  
  h1, h2, h3 {
    align-self: flex-start;
  }

  img {
    box-shadow: var(--shadow-2);
  }

  header,
  main > .content,
  footer {
    padding: var(--gap-800) 6.4rem;
  }

  /* header */

  header {
    padding-top: 9.4rem;
  }

  header .content {
    display: block;
    padding: 0;
  }

  header img {
    width: min(46vw, 550px);
    position: relative;
    float: left;
    margin: 0 -42px -110px 0;
    top: -110px;
    left: -62px;
  }

  .about {
    display: block;
    background-color: white;
    box-shadow: var(--shadow-2);
    padding: var(--gap-600) var(--gap-600) 4.8rem var(--gap-600);
  }
  
  header h1 {
    font-size: calc(2.6rem + 3vw);
    top: calc(-101px + 0.3vw);
    left: auto;
    right: -40px;
  }

  header br {
    display: none;
  }

  header p {
    margin-top: var(--gap-300);
  }

  header .icons {
    float: right;
    position: relative;
    top: var(--gap-150);
  }

  /* footer */

  footer::before {
    bottom: 0;
  }

  footer .content {
    grid-template-columns: 3fr 2fr;
    gap: var(--gap-400);
  }

  footer .contact {
    padding: 0;
  }

  address {
    font-size: min(calc(0.8rem + 0.45vw), 1.5rem);
  }

  footer .icons {
    align-self: start;
  }
}

/* media query for desktop */
@media screen and (min-width: 1056px) {
  /* header */

  header {
    padding-top: 3.4rem;
  }

  header::before {
    bottom: max(calc(957px - 68vw), 160px);
  }

  header .content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0;
    align-items: center;
  }

  header img {
    width: 100%;
    position: static;
    margin: 0;
    float: none;
  }

  .about {
    padding: var(--gap-400) var(--gap-600) var(--gap-550) var(--gap-600);
  }

  header h1 {
    font-size: min(calc(-0.75rem + 5.4vw), 67px);
    top: min(calc(-108px + 46vw), 565px);
    left: 15px;
    right: auto;
  }

  header p {
    font-size: calc(1.1rem + 0.5vw);
  }

  /* main */

  main {
    padding: var(--gap-800) 6.4rem;
  }

  main .content {
    padding: 0;
  }

  .projects {
    grid-template-columns: repeat(auto-fit, minmax(18.2rem, 1fr));
  }

  /* footer */

  footer .content {
    grid-template-columns: 2fr 3fr;
  }
}