/* general */

:root {
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --purple-600: #9333ea;
  --gap-050: 0.2rem;
  --gap-100: 0.4rem;
  --gap-150: 0.6rem;
  --gap-200: 0.8rem;
  --gap-250: 1.0rem;
  --gap-300: 1.2rem;
  --gap-400: 1.6rem;
  --gap-500: 2.0rem;
  --gap-550: 2.2rem;
  --gap-600: 2.4rem;
  --gap-700: 2.8rem;
  --gap-800: 3.2rem;
  --font-stack-serif: "Playfair Display", "Times", serif;
  --font-stack-sans-serif: "Roboto", "Helvetica", "Arial", sans-serif;
  --shadow-2: 0 0 5px rgba(0,0,0,0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--transition-fast);
}

html, body {
  min-height: 100vh;
}

.content {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-200);
  padding: var(--gap-300) var(--gap-300) var(--gap-700);
}

h1, h2, h3 {
  font-weight: 400;
  font-family: var(--font-stack-serif);
  align-self: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-family: var(--font-stack-sans-serif);
  color: var(--neutral-600);
}

.photo {
  background-color: gray;
  width: 100%;
  height: 400px;
}

/* header */

header {
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  /* top: -50px; */
  top: calc(-10px - 12vw);
  right: 0;
  left: 0;
  /* bottom: 550px; */
  bottom: calc(927px - 68vw);
  background-image: linear-gradient(45deg, #6303B1, #ff0099);
  transform: skewY(-14deg);
}

header .content {
  position: relative;
}

header img {
  width: 100%;
  margin-bottom: var(--gap-150);
}

header h1 {
  /* font-size: 4.2rem; */
  font-size: calc(2.8rem + 6vw);
  line-height: 1.15;
  position: absolute;
  /* top: 342px; */
  top: calc(-145px + 135vw);
  left: 2.2rem;
  color: white;
  filter: drop-shadow(var(--shadow-2));
}

header p {
  font-size: 1.53rem;
  font-weight: 300;
  line-height: 1.4;
  margin-top: -0.4rem;
}

header .icons {
  align-self: center;
  display: flex;
  gap: var(--gap-400);
}

header svg {
  width: 2.2rem;
}

/* main */

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: var(--gap-400);
}

.card {
  box-shadow: var(--shadow-2);
}

.card > .screenshot {
  background-color: var(--purple-600);
  color: white;
  height: 17.6rem;
  font-family: var(--font-stack-serif);
  font-size: 3rem;
  padding: var(--gap-700);
  text-align: center;
  display: grid;
  place-content: center;
}

.description {
  padding: var(--gap-300);
  display: grid;
  gap: var(--gap-150);
}

.description > div {
  display: flex;
}

.description .icons {
  margin-left: auto;
  display: flex;
  gap: var(--gap-150);
}

.card svg {
  width: 1.4rem;
}

/* footer */

footer {
  color: white;
  display: flex;
  flex-direction: column;
  gap: var(--gap-300);
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 550px;
  background-image: linear-gradient(45deg, #6303B1, #ff0099);
  z-index: -1;
}

footer .icons {
  display: flex;
  gap: var(--gap-300);
}

footer svg {
  width: 2.6rem;
}

footer > img {
  width: 100%;
}